@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    background-color: hsl(210, 46%, 95%);
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .card {
        display: flex;
        justify-content: center;
        align-items: start;
        background: #fff;
        max-width: 73rem;
        border-radius: 1rem;
        box-shadow: 0px 18px 11px rgba(0, 0, 0, 0.03);
        position: relative;

        .drawer-image {
            display: flex;
            
            img {
                width: 285px;
                height: 280px;
            }
        }

        .articles {
            max-width: 445px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            

           .article {
                padding: 28px 45px;
                

                h1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.8rem;
                    letter-spacing: 0.015em;
                    color: hsl(217, 19%, 35%);
                }

                p {
                    color: hsl(210, 18%, 64%);
                    font-size: 12px;
                }

                .writer-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .share-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        background:hsl(210, 46%, 95%);

                            &:hover {
                                background:hsl(217, 19%, 35%);
                            }
                    }

                    .writer {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            border-radius: 50%;
                            width: 40px;
                        }

                        .winter-info {
                            margin-left: 10px;

                            a {
                                text-decoration: none;
                                font-weight: 700;
                                color: hsl(217, 19%, 35%);
                            }

                            span {
                                display: block;
                            }
                        }
                    }
                }
            }
            
        }

        .slide-top {
            animation: slide-top 1s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;
          }

        .hidden {
            display: none;
        }
        
        .visible {
            display: flex;
        }

        .shares {
            display: flex;
            justify-content: center;
            align-items: center;
            background: hsl(217, 19%, 35%);
            position: absolute;
            bottom: 97px;
            right: -55px;
            border-radius: 10px;
            animation: slide-top 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.8) both;

            &::after {
                content: '';
                position: absolute;
                border: 12px solid transparent;
                border-top: 13px solid hsl(217, 19%, 35%);
                top: 49px;
            }

            .share {
                display: flex;
                justify-items: start;
                align-items: center;
                column-gap: 15px;
                padding: 10px 25px;
                

                span {
                    text-transform: uppercase;
                    // margin-right: 2.4rem;
                    line-height: 1.8rem;
                    letter-spacing: 0.38em;
                    color: hsl(212, 23%, 69%);
                    font-size: 13px;
                }

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 15px;

                    li {
                        list-style: none;
                        // display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }
        }
    } 
  }

  @keyframes slide-top {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }  